*.exe
*.ilk
*.pdb
*.tlog
*.obj
*.opendb
*.ipch
*.exe
*.ilk
*.log
*.pdb
*.db
*.suo
*.db-wal
*.db-shm
*.idb
*.user
*.vcxproj
*.filters
*.sln
*.json
*.sqlite
*.pcd
*.pcdcmp
*.pcs
*./Dockerfile
parallel/Dockerfile
input/clouds/
todo.txt
